# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.aider*
app/data/exhibitions.json
app/data/food-booths.json
app/data/performances.json
app/data/timetable.json
app/data/hirakata_festival_data.json
app/data/event-images.json
